[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
isort = "*"
mypy = "*"
flake8 = "*"
black = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
motor = "*"
pydantic = "*"
pytest = "*"
pytest-cov = "*"
httpx = "*"
icecream = "*"
rich = "*"
safety = "*"
pyupgrade = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
